<main class="container my-4">

  
  <h1 class="text-center mb-4">eCommerce - Tech store</h1>

  <section>

    <div class="row justify-content-center mb-4">

      <div class="card mb-4">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="/public/assets/img/accessories.jpg"
              class="img-fluid p-3"
              alt="Accessories"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Accessories</h5>
              <p class="card-text">
                Explore our wide range of tech accessories to complement your
                devices. From chargers and cases to headphones and smartwatches,
                we offer high-quality products at competitive prices. Upgrade
                your gadgets with the latest accessories for an enhanced
                experience. Click below to discover the perfect tech accessories
                for your needs!
              </p>

            </div>
            <a
              href="/products/category/accessories"
              class="btn btn-outline-primary w-50 d-block mx-auto my-5 w-80"
            >Accessories</a>
          </div>

        </div>
      </div>

      <div class="card mb-4">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Tablets & Notebooks</h5>
              <p class="card-text">
                Discover the perfect blend of portability and performance with
                our selection of tablets and notebooks. Whether for work, study,
                or entertainment, we offer the latest models to meet your needs,
                ensuring fast processing and sleek design.
              </p>
            </div>
            <a
              href="/products/category/tablets-notebooks"
              class="btn btn-outline-warning w-50 d-block mx-auto my-5 w-80"
            >Tablets & Notebooks</a>
          </div>
          <div class="col-md-4">
            <img
              src="/public/assets/img/notebook.jpg"
              class="img-fluid p-3"
              alt="Tablets & Notebooks"
            />
          </div>
        </div>
      </div>

      <div class="card mb-4">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="/public/assets/img/phone.avif"
              class="img-fluid p-3"
              alt="Cell Phones"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Cell Phones</h5>
              <p class="card-text">
                Stay connected with the latest smartphones from top brands. Our
                selection of cell phones offers cutting-edge features like
                high-speed processors, stunning displays, and superior camera
                quality, perfect for both personal and professional use.
              </p>
            </div>
            <a
              href="/products/category/phones"
              class="btn btn-outline-danger w-50 d-block mx-auto my-5 w-80"
            >Cell Phones</a>
          </div>
        </div>
      </div>

      <div class="card mb-4">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Gaming</h5>
              <p class="card-text">
                Dive into the world of gaming with our range of top-tier gaming
                consoles, accessories, and peripherals. Whether you're a casual
                player or a competitive gamer, we have everything you need for
                an immersive and high-performance gaming experience.
              </p>
            </div>
            <a
              href="/products/category/gaming"
              class="btn btn-outline-primary w-50 d-block mx-auto my-5 w-80"
            >Gaming</a>
          </div>
          <div class="col-md-4">
            <img
              src="/public/assets/img/gaming.avif"
              class="img-fluid p-3"
              alt="Gaming"
            />
          </div>
        </div>
      </div>

      <div class="card mb-4">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="/public/assets/img/tv.jpg"
              class="img-fluid p-3"
              alt="TV & Smart"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">TV & Smart</h5>
              <p class="card-text">
                Upgrade your home entertainment system with our selection of
                smart TVs. Enjoy stunning picture quality, seamless streaming,
                and smart home integration for a modern viewing experience.
                Discover the future of television with our top brands.
              </p>
            </div>
            <a
              href="/products/category/tv-smart"
              class="btn btn-outline-secondary w-50 d-block mx-auto my-5 w-80"
            >TV & Smart</a>
          </div>
        </div>
      </div>

    </div>
  </section>
  <h2 class="text-center p-5">PRODUCTS</h2>
<section class="d-flex justify-content-center">
  <div class="d-flex flex-wrap justify-content-evenly" style="max-width: 1200px;">
    {{#each products}}
      <div class="card my-2 mx-auto" style="width: 18rem;">
        <img src="{{this.photo}}" class="card-img-top mx-auto" alt="{{this.title}}" style="max-width: 100%; height: auto;">
        <div class="card-body">
          <h5 class="card-title text-center my-3">{{this.title}}</h5>
          <p class="card-text text-center">{{this.category}}</p>
          <a href="/products/{{this._id}}" class="btn btn-outline-primary d-block mx-auto my-3 w-75">+info</a>
        </div>
      </div>
    {{/each}}
  </div>
</section>
</main>